<div class="container mt-4">
  <h3>Carrito de Compras</h3>
  <div *ngIf="carritoItem.length === 0">
    <p>No tienes productos en el carrito.</p>
  </div>
  

  <div *ngIf="carritoItem.length > 0">
      <div class="table-responsive">
        <table class="table w-100">
          
          <thead>
            <tr>
              <th>ID</th>
              <th>Producto </th>
              <th>Cantidad</th>
              <th>Precio</th>
              <th>Subtotal</th>
            </tr>
          </thead>
          <tbody >
            <tr *ngFor="let item of carritoItem">
              <td>{{ item.productId }}</td>
              <td>{{ item.nombre }}</td>
              <td>{{ item.cantidad }}</td>
              <td>{{ item.precio }}</td>
              <td>{{ item.precio*item.cantidad }}</td>
              <td><button class="btn btn-danger btn-sm" (click)="removeFromCart(item.productId)">Eliminar</button></td>
            </tr>

          </tbody>
        </table>
      </div>

      <div class="col">
        <button class="btn btn-success float-end" (click)="realizarCompra()">Comprar</button>
      </div>
  </div>

</div>