<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="container">
    <a class="navbar-brand" href="/">TIENDA</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active" href="/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register" routerLinkActive="active" href="/register">Registrarse</a>
        </li>
        <li class="nav-item position-relative">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active" href="/cart">
            <i class="fas fa-shopping-cart"></i>
            <span *ngIf="cartItemCount > 0" class="badge bg-info text-dark">{{ cartItemCount }}</span>
          </a>
           <!-- Modal Content -->
           <div class="cart-modal p-3 bg-white shadow rounded">
            <div class="row">
              <div class="col-8">
                <h5>Tu carrito</h5> 
              </div>
              <div class="col-4">
                <button class="btn btn-sm btn-link" (click)="vaciarCart()">vaciar</button>
              </div>
            </div>            
            
            <ul *ngIf="carritoItem.length > 0" class="list-group">
              <li *ngFor="let item of carritoItem" class="list-group-item d-flex justify-content-between align-items-center modal_text">
                <p class="m-0 col-8">{{ item.nombre }}</p> <p class="m-0 float-end">{{ item.cantidad }}</p><span class="fa fa-trash text-danger" role="button"></span>
                 
              </li>
            </ul>
            <p *ngIf="carritoItem.length === 0">El carrito está vacío.</p>
          </div>
        </li>
        <li class="nav-item">
          <a *ngIf="!isLoggedIn" class="nav-link" routerLink="/login" routerLinkActive="active" href="/login">
            <button class="btn btn-sm btn-info">Login</button>
          </a>
          <a *ngIf="isLoggedIn"class="nav-link" (click)="logout()">
            <button class="btn btn-sm btn-info">Logout</button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
