<div class="container">
    <h2 class="my-4 text-center">Login</h2>
    <div class="row justify-content-center">
      <div class="col-md-6 col-lg-4">
        <form (ngSubmit)="login()" class="p-4 border rounded bg-light shadow-sm">
          <div class="mb-3">
            <label for="username" class="form-label">Username:</label>
            <input 
              id="username" 
              [(ngModel)]="username" 
              name="username" 
              type="text" 
              class="form-control" 
              required
            />
          </div>
  
          <div class="mb-3">
            <label for="password" class="form-label">Password:</label>
            <input 
              id="password" 
              [(ngModel)]="password" 
              name="password" 
              type="password" 
              class="form-control" 
              required
            />
          </div>
  
          <button 
            type="submit" 
            class="btn btn-primary w-100"
          >
            Login
          </button>
  
          <div 
            *ngIf="errorMessage" 
            class="alert alert-danger mt-3"
          >
            {{ errorMessage }}
          </div>
        </form>
      </div>
    </div>
  </div>
  